* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #ffb347;
}

nav ul {
	overflow: auto;
	background-color: #353535; 
	list-style: none;
	padding: 10px;

}

nav li {
	float: left;
	width: 33.33%;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	transition: .5s;
}

nav a:hover {
	color: #353535;
	background: #ffb347;
	padding: 10px; 
}

.header {
	background-image: url("../images/beach.jpeg");/*../(up one level to find the image)*/
	background-size: cover;
    background-position: bottom; 
	color: #ffb347;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	padding: 60px;
}

.main-content {
	background-color: #353535;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
}

.img-50 {
	width: 50%;
	display: block;
	margin: 20px auto;
	border: 5px solid #FF0080 ;	
}
