@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #ffb347;
	font-family: 'Roboto', sans-serif;
}

h2 {
   background-color: #353535;
   margin: 10px 0;
   padding: 10px;
}

nav ul {
	overflow: auto;
	background-color: #353535; 
	list-style: none;
	padding: 10px;

}

nav li {
	float: left;
	width: 33.33%;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition: .5s;
}

nav a:hover {
	color: #353535;
	background: #ffb347;
	padding: 10px; 
}

.header {
	background-image: url("../images/beach.jpeg");/*../(up one level to find the image)*/
	background-size: cover;
    background-position: bottom; 
	color: #ffb347;
	text-align: center;
	font-size: 30px;
	padding: 200px 60px;
}

.main-content {
	background-color: #353535;
	color: #fff;
	padding: 20px;
	margin: 20px;
}

.main-content-about {
	background-color: #ffb347;
}

.img-50 {
	width: 50%;
	display: block;
	margin: 20px auto;
		
}

/* These are Utility Classes
============================================= */

.center-text {
	text-align: center;
	background-color: #ffb347;
	color: #353535;
}






































