@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

h2 {
	background-color: #fff;
	color: #00CED1;
	margin: 10px 0;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

nav ul {
	overflow: auto;
	background-color: #fff;
	list-style: none;
	padding: 15px;
}

nav li {
	float: left;
	width: 33.33%;
	text-align: center;
}
nav a {
	color: #00CED1;
	text-decoration: none;
	font-size: 20px;
	transition: .5s;
}

nav a:hover {
	background: #00CED1;
	color: #fff;
	padding: 20px; 
}

.header {
	padding: 200px 0px;
	background-image: url("../images/water.jpg");
	background-size: cover;
	background-position: bottom;
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #656565;
}

.main-content {
	background-color: #00CED1;
	padding: 20px;
	margin: 20px;
}

.img-50 {
	width: 50%;
	display: block;
	margin: 2% 0;
}

/* Forms ====================================================================*/

label {
	display: flex;
	justify-content: center;
	margin: 20px;	
}

input {
	padding: 5px 0 5px 5px;
}

input[type="radio"] {
	margin-right: 5px;
	display: inline-block;
}

button {
	display: block;
	margin: auto;
	padding: 5px;
}

.font-color {
	color: #fff;
}

/* These are Utility Classes 
===============================================================================*/

.center-text {
	text-align: center;
	padding-left: 5px;
}




































